<!-- Sidebar Start -->
<aside class="seipkon-main-sidebar">
    <nav id="sidebar">
        <!-- Sidebar Profile Start -->
        <div class="sidebar-profile clearfix">
            <div class="profile-avatar">
                <img src="{{ asset('assets/img/avatar.jpg') }}" alt="profile" />
            </div>
            <div class="profile-info">
                <h3>{% if app.user %}{{ app.user.login }}{% endif %}</h3>
                <p>Bienvenue Admin!</p>
            </div>
        </div>
        <!-- Sidebar Profile End -->

        <!-- Menu Section Start -->
        <div class="menu-section">
            <h3>General</h3>
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="{{ path('admin') }}">
                        <i class="fa fa-dashboard"></i>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="#ecommerce" data-toggle="collapse" aria-expanded="false">
                        <i class="fa fa-shopping-cart"></i>
                        Stock
                    </a>
                    <ul class="collapse list-unstyled" id="ecommerce">
                        <li><a href="{{ path('admin_category') }}">catégorie</a></li>
                        <li><a href="{{ path('admin_category_add') }}">ajouter une catégorie</a></li>
                        <li><a href="{{ path('admin_language') }}">langue</a></li>
                        <li><a href="{{ path('admin_language_add') }}">ajouter une langue</a></li>
                        <li><a href="">articles</a></li>
                        <li><a href="">ajouter un article</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#createpage" data-toggle="collapse" aria-expanded="false">
                        <i class="fa fa-file-text-o"></i>
                        clients
                    </a>
                    <ul class="collapse list-unstyled" id="createpage">
                        <li><a href="">tous les clients</a></li>
                        <li><a href="">ajouter</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#apps" data-toggle="collapse" aria-expanded="false">
                        <i class="fa fa-th"></i>
                        Ventes
                    </a>
                    <ul class="collapse list-unstyled" id="apps">
                        <li><a href="">toutes les ventes</a></li>
                        <li><a href="">Ventes en cours</a></li>
                        <li><a href="">Ventes payé</a></li>
                        <li><a href="">Ventes livré</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#users" data-toggle="collapse" aria-expanded="false">
                        <i class="fa fa-file-text-o"></i>
                        utilisateurs
                    </a>
                    <ul class="collapse list-unstyled" id="users">
                        <li><a href="{{ path('admin_user') }}">tous les utilisateurs</a></li>
                        <li><a href="{{ path('admin_user_add') }}">Ajouter</a></li>
                    </ul>
                </li>
                <li class="active">
                    <a href="{{ path('admin_account_logout') }}">
                        <i class="fa fa-lock"></i>
                        Déconnexion
                    </a>
                </li>

            </ul>
        </div>
        <!-- Menu Section End -->





    </nav>
</aside>
<!-- End Sidebar -->