<!-- Main Header Start -->
<header class="main-header">
    <!-- Logo Start -->
    <div class="seipkon-logo">
        <a href="{{ path('admin') }}">
            <img src="{{ asset('assets/img/logo.png') }}" alt="logo">
        </a>
    </div>
    <!-- Logo End -->
    <!-- Header Top Start -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="header-top-section">
                <div class="pull-left">

                    <!-- Collapse Menu Btn Start -->
                    <button type="button" id="sidebarCollapse" class=" navbar-btn">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- Collapse Menu Btn End -->



                </div>
                <div class="header-top-right-section pull-right">
                    <ul class="nav nav-pills nav-top navbar-right">
                        <!-- Profile Toggle Start -->
                        <li class="dropdown">
                            <a class="dropdown-toggle profile-toggle" href="#" data-toggle="dropdown">
                                <img src="{{ asset('assets/img/avatar.jpg') }}" class="profile-avator" alt="admin profile" />
                                <div class="profile-avatar-txt">
                                    <p>
                                        {% if app.user %}
                                            {{ app.user.login }}
                                        {% endif %}
                                    </p>
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </a>
                            <div class="profile-box dropdown-menu animated bounceIn">
                                <ul>
                                    <li><a href="{{ path('admin_account_logout') }}"><i class="fa fa-power-off"></i> Déconnexion</a></li>
                                </ul>
                            </div>
                        </li>
                        <!-- Profile Toggle End -->

                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Header Top End -->

</header>
<!-- Main Header End -->

{% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message | raw }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}